
.icon-globe:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */