body
{
  background-color: white;
  color: #161617;
  font-family: 'Ubuntu', sans-serif;
}

.first_container
{
  /*border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #EDEFF0;*/
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #000000;
  color:white;

}

a.social-links:link {color:#ffffff;}
a.social-links:visited {color:#ffffff;}
a.social-links:hover
{
  color:#ffffff;
  text-decoration: none;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #000000;

}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #423e3e;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #423e3e;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #423e3e;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #423e3e;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #423e3e;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #423e3e;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fff;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #423e3e;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #423e3e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #423e3e;
    background-color: #ffffff;
  }
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

 .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #fff;
    color:#161617;
    border-color:transparent;
    padding-left:22px;
    padding-right:30px;
    box-shadow: none;
  }

hr.style-bestsellers {
    padding-top: 0;
    border: none;
    border-top: solid #A9AAAB;
    color: #333;
    text-align: center;
}
hr.style-bestsellers:after {
    content: "BEST SELLERS";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background: white;
}

.bestsellers
{
  padding-top: 20px;
}

hr.style-u-nas {
    padding-top: 0;
    border: none;
    border-top: solid #A9AAAB;
    color: #333;
    text-align: center;
}
hr.style-u-nas:after {
    content: "U NAS ZAWSZE";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background: white;
}

hr.style-sugestie {
    padding-top: 0;
    border: none;
    border-top: solid #A9AAAB;
    color: #333;
    text-align: center;
}
hr.style-sugestie:after {
    content: "SUGEROWANE PRODUKTY";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background: white;
}

.footer
{
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.footer-line
{
  font-size: 10px;
  border-left-style: solid;
  border-left-color: #A9AAAB;
  padding-left: 10px;
}

.bladwalidacji
{
  color:red;
  padding-left: 10px;
}

.modyfikacja-uzytkownika
{
  padding-top: 60px;
  margin-top: 50px;
}